.favorites_row {
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
}

.favorites_item {
    border-radius: 5px;
    background: #0052D4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    width: 350px;
    margin: 10px 10px;
}

.favorites_item:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}