
.forecast_card {
    border-radius: 12px;
    /*background-color: rgba(0, 0, 0, 0.5);*/
}

.forecast_list {
    list-style: none;
    margin: 0 0;
    padding: 0 0;
}

.forecast_day_wrapper {
    position: relative;
    width: 100%;
    border: none;
    padding: 5px 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    /*background-color: rgba(0, 0, 0, 0.4);*/
}

.forecast_day_wrapper:hover {
    border-radius:4px;
    box-shadow:rgba(0, 0, 0, 0.12) 0px 8px 16px 0px, rgba(0, 0, 0, 0.08) 0px 0px 1px 1px;
    box-sizing:border-box;
    color:rgb(34, 36, 38);
    transition-delay:0s, 0s;
    transition-duration:0.16s, 0.16s;
    transition-property:box-shadow, -webkit-box-shadow;
    transition-timing-function:cubic-bezier(0.25, 0.1, 0.25, 1), cubic-bezier(0.25, 0.1, 0.25, 1);
}

.fc_day__title {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
}
.fc_day_part__title {
    text-transform: capitalize;
    color: #939cb0;
    width: 15%;
}

.fc_day_part__weather {
    width: 25%;
}

.fc_day_part__wind {
    width: 25%;
}