.duration-card {
    border-radius: 12px;
    position: relative;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.duration-wrapper {
    display: flex;
    flex-direction: column;
}

.duration-start-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 -5px;
}

.duration-part-box {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.day {
    background-color: #fff6ca;
}
.night {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.module-border-wrap {


    position: relative;
    background: linear-gradient(to right, #F6F47A, #FFC300,#E98609, #3A0585);
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.module {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    color: rgb(147, 156, 176);
    font-size: 3vw;
    padding: 2rem;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

@keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
}
.duration-title {

    opacity: 1;
    animation: example 3s;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

.duration-value {
    opacity: 1;
    animation: example 3s;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}